NEXT_PUBLIC_ACTION_API_URL=http://localhost:8000/api
NEXT_PUBLIC_PRIVY_MERCHANT_APP_ID=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PULSE_PAYMENT_PROGRAM_ID=2q7mj25BboC3th75YesFFdcSR3e76a45mKKJukQXAUiF
