NEXT_PUBLIC_ACTION_API_URL=http://localhost:8000/api
NEXT_PUBLIC_PRIVY_MERCHANT_APP_ID=
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
